body {
  font-family: sans-serif;
  margin: 0;
}

/*///// NAVBAR SECTION ///////*/

.navbar {
  background-color: #1f2937;
  color: #fff;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
  gap: 1.2rem;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 24px;
  letter-spacing: 1.5px;
}

/* ///////////////////////// */

/* ////// HERO SECTION //////*/

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  color: #fff;
  gap: 48px;
  padding: 24px 24px 48px 24px;
}

h1 {
  font-size: 36px;
}

.hero-text {
  width: 25vw;
  gap: 12px;
}

.placeholder-img {
  background-color: #909090;
  padding: 80px 120px;
}

.sign-up-button {
  color: #fff;
  background-color: rgb(59, 153, 236);
  stroke: none;
  padding: 8px 24px;
  border-radius: 8px;
}

/*// RANDOM INFORMATION SECTION //*/

.some-random-information {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.placeholder-box {
  width: 80px;
  height: 80px;
  border-radius: 16px;
  background-color: blue;
}

.container-text {
  align-items: center;
}
